body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
}
h1,h2,h3,h4,h5,h6,p,ul,ol {
    margin: 0;
    padding: 0;
    list-style: none;
    /* Для <ul>, щоб скинути стилі маркерів */
    font-size: inherit;
    /* Успадкувати розмір шрифту для консистентності */
    font-family: inherit;
    /* Успадкувати шрифт */
}
.section{
    padding-top: 120px;
    padding-bottom: 120px;
}
.container {
    /* 1158px 1440px*/
    width: 1158px;
    /* margin-left: 156px; */
    /* margin-right: 156px; */
    margin: 0 auto;
    /* padding-left: 24px; */
    /* padding-right: 15px; */
    padding-left: 15px;
    padding-right: 15px;
}
ul, ol {
    list-style-type: none;
}
a{
    text-decoration: none;
}
.address-head{
    font-style: normal
}
.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: flex;
    margin-right: 76px;
}
.logo-text{
    color: #2e2f42;
}
.link-header{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.link-header:focus, .link-header:hover{
    color: #404BBF;
}
.address-link{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
}
.address-link:focus, .address-link:hover {
    color: #404BBF;
}
.business{
    background-color: #2e2f42;
}
.business-h{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}
.button-business{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
}
.button-business:focus, .button-business:hover {
    background-color: #404BBF;
}
.base-h-two{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.base-h-two-van{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}
.base-h-tri{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.base-p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.comand{
    background-color: #f4f4fd;
}
.comand-link{
    background-color: #fff;
}
.footer{
    background-color: #2e2f42;
}
.logo-futer{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo-futer-span{
    color: #f4f4fd;
}
.footer-p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}
/* Початок 3 частини */
header .container{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.nav-link, .nav-link ul{
    display: flex;
    gap: 40px;
    align-items: center;
}
.nav-link ul{
    padding-bottom: 24px;
    padding-top: 24px;
}
.address-head, .address-head ul{
    display: flex;
    gap: 40px;
    align-items: center;
}
.header-ul-class, .address-class{
    padding-bottom: 24px;
    padding-top: 24px;
}
.address-head{
    justify-content: flex-end;
}
.header-link{
    border-bottom: 1px solid #e7e9fc;
}